openapi: 3.1.0
info:
  title: KeepTrack Space Catalog Satellites API
  description: 'Free, open API for satellite tracking, orbital predictions, and space catalog

    data covering 60,000+ tracked objects. Derived from the public OpenAPI

    document hosted at https://api.keeptrack.space/v4/openapi.json. Endpoints

    require a free API key.

    '
  version: 4.2.0
  contact:
    name: KeepTrack
    url: https://www.keeptrack.space/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.keeptrack.space/v4
  description: Production KeepTrack API
security:
- ApiKeyAuth: []
tags:
- name: Satellites
  description: Search and retrieve catalog data about tracked space objects.
paths:
  /satellites/search:
    get:
      tags:
      - Satellites
      summary: Search the satellite catalog
      operationId: searchSatellites
      parameters:
      - name: q
        in: query
        required: true
        description: NORAD Catalog ID, International Designator, or partial name.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 25
      responses:
        '200':
          description: A list of matching catalog objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SatelliteSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /satellites/{noradId}:
    parameters:
    - name: noradId
      in: path
      required: true
      description: NORAD Catalog ID of the tracked object.
      schema:
        type: integer
    get:
      tags:
      - Satellites
      summary: Get a tracked object by NORAD Catalog ID
      operationId: getSatellite
      responses:
        '200':
          description: Catalog entry for the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Satellite'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Object not found.
components:
  schemas:
    Satellite:
      allOf:
      - $ref: '#/components/schemas/SatelliteSummary'
      - type: object
        properties:
          country:
            type: string
          launchDate:
            type: string
            format: date
          launchSite:
            type: string
          apogee:
            type: number
          perigee:
            type: number
          period:
            type: number
          inclination:
            type: number
    SatelliteSummary:
      type: object
      properties:
        noradId:
          type: integer
        intlDes:
          type: string
          description: International Designator.
        name:
          type: string
        type:
          type: string
          description: Object type (payload, debris, rocket body, etc).
  responses:
    Unauthorized:
      description: API key required or invalid.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
              docs:
                type: string
                format: uri
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Free API key issued from https://keeptrack.space.
